@import "tailwindcss";

:root {
 --background: #ffffff;
 --coco: #5c0202;
 --dark-coco: #370303;
 --light-coco: #f3eeed;
 --gray-stroke: #c8c8c8;
 --black: #151515;
}

@theme {
 --color-base: var(--black);
 --color-primary: var(--coco);
 --color-dark: var(--dark-coco);
 --color-light: var(--light-coco);
 --color-gray: var(--gray-stroke);
 --color-background: var(--background);

 --font-montserrat: var(--font-montserrat), sans-serif;
 --font-playfair: var(--font-playfair), serif;
 --font-inter: var(--font-inter), sans-serif;

 --tracking-tight-custom: -2%;
 --tracking-tighter-custom: -4%;

 --breakpoint-desktop: 1440px;
}

@layer base {
 .container-custom {
  @apply w-360 mx-auto px-10;
 }

 .h1-main {
  @apply font-playfair italic text-[96px] leading-26 tracking-tighter-custom text-primary;
 }

 .h1-span {
  @apply font-montserrat not-italic font-medium text-[80px] leading-26 tracking-tight-custom;
 }

 .nav-link {
  @apply font-montserrat font-normal text-[16px] leading-6.5 text-primary;
 }
}

body {
 min-height: 100hv;
 background: var(--background);
 color: var(--coco);
 font-family: var(--font-montserrat), sans-serif;

 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

 display: flex;
 flex-direction: column;
 align-items: center;
}
